# Supabase
SUPABASE_URL=https://ffaxrgeuxifbzdpqcwww.supabase.co
SUPABASE_SERVICE_ROLE_KEY=YOUR_SUPABASE_SERVICE_ROLE_KEY

# Cloudinary
CLOUDINARY_CLOUD_NAME=dtetwr6vr
CLOUDINARY_API_KEY=262877142522774
CLOUDINARY_API_SECRET=Qh_xHfRQwLgBlZdbXD8uDJop5zk

# Servidor
PORT=3000
FRONTEND_URL=http://localhost:4200