/* Estilos para el catálogo */

@keyframes cartIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-cart-in {
    animation: cartIn 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

button {
    transition: all 0.5s cubic-bezier(0.16, 1, 0.3, 1);
}
